@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "font-awesome/css/font-awesome.min.css";

.bg-color {
  background: #eee;
  padding: 60px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.containers {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-bottom: 10px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}

.title::before {
  content: "";
  width: 200px;
  height: 3px;
  background: #dbdbdb;
  opacity: 0.6;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.title::after {
  content: "\f005";
  font-family: FontAwesome;
  color: #dbdbdb;
  width: 50px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: #eee;
  transform: translateX(-50%);
  font-size: 16px;
}

.title p {
  color: #999;
  font-style: italic;
  font-weight: 700;
  margin: 0;
}

.title h1 {
  font-size: 44px;
  color: #131313;
  font-weight: 900;
  text-transform: uppercase;
}

.title h1 span {
  color: #fa0;
}

.card {
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
}

.card-main {
  position: relative;
}

.discount {
  position: relative;
  background: #fa0;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: block;
  text-transform: uppercase;
  height: 30px;
  width: 70px;
  border-radius: 0 15px 15px 0;
  line-height: 30px;
  font-style: italic;
  left: -9px;
  top: 30px;
}

.discount::after {
  border-top: 6px solid #c80;
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  border-top: 8px solid transparent;
  border-right: 0px solid transparent;
}

.label {
  position: absolute;
  bottom: 84px;
  left: 10px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  line-height: 100%;
  color: #fff;
  border-radius: 3px;
  padding: 5px 8px;
}

.label-green {
  background: #5cb85c;
}

.image img {
  width: 50%;
  height: 50%;
}

.cart-line {
  height: 2px;
  background: #f1f1f1;
}

.cart-item {
  text-align: center;
  line-height: 45px;
  background: #131313;
  transition: all 1s ease-in-out;
  /*opacity: 0;*/
  position: relative;
  top: -30px;
}

.cart-item ul{
    margin: 0;
    padding: 0;
}

.cart-item ul li{
    display: inline-block;
    list-style-type: none;
    position: relative;
}

.cart-item ul li::after{
    content: '';
    width: 1px;
    height: 18px;
    background: rgba(255, 255, 255, .15);
    position: absolute;
    left: -2px;
    top: 10px;
}

.cart-item ul li:first-child:after{
    display: none;
}

.cart-item ul li a{
    padding: 0 18px;
    color: #ccc;
}

.cart-item ul li a:hover{
    color: #fa0;
}

.product-container{
    position: absolute;
    right: -40px;
    top: 10px;  
    z-index: 4;
    transition: 0.6s;
}

.p{
    border: 1px solid rgb(233, 233, 233);
    border-radius: 2px;
    height: 40px;   
    width: 40px;
    cursor: pointer;
}

.p img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}