<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>Kakou</p>
      <h1><span>Best</span> Seller</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order Now!</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="{{ url }}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart fa-icon"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search fa-icon"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">iPhone 14</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>
              <span class="money">350FCFA</span>
              <span class="old-price">400FCFA</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order Now!</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img2.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="{{ url }}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart fa-icon"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search fa-icon"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Incidid Tong Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>
              <span class="money">350FCFA</span>
              <span class="old-price">400FCFA</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order Now!</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="{{ url }}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart fa-icon"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search fa-icon"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Incidid Tong Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>
              <span class="money">350FCFA</span>
              <span class="old-price">400FCFA</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order Now!</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../assets/img1.jpg" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="{{ url }}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart fa-icon"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search fa-icon"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="">Incidid Tong Bar</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>
              <span class="money">350FCFA</span>
              <span class="old-price">400FCFA</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
