<section class="bg-color ">
  <div class="containers">
    <div class="title">
      <p>Kakou</p>
      <h1><span>Best</span> Seller</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="discount">9%</div>
          <div class="label label-green">Pre-Order Now!</div>
          <div class="product-container">
            <div class="p"><img src="../assets/img1.jpg" alt="Product" /></div>
            <div class="p"><img src="../assets/img1.jpg" alt="Product" /></div>
            <div class="p"><img src="../assets/img1.jpg" alt="Product" /></div>
          </div>
          <div class="image">
            <img src="../assets/img2.jpg" alt="Image" />
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
              <li><a href=""><i class="fa fa-shopping-heart"></i></a></li>
              <li><a href=""><i class="fa fa-shopping-search"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>